importFrom(graphics, plot)
importFrom("stats", "princomp", "rnorm")

export(sbss, sbss_asymp, sbss_boot, snss_sd, snss_jd, snss_sjd, 
       spatial_kernel_matrix, local_covariance_matrix, white_data, 
       local_gss_covariance_matrix, gen_glob_outl, gen_loc_outl, robsbss)
S3method(sbss, default)
S3method(sbss, SpatialPointsDataFrame)
S3method(sbss, sf)
S3method(robsbss, default)
S3method(robsbss, SpatialPointsDataFrame)
S3method(robsbss, sf)
S3method(sbss_asymp, default)
S3method(sbss_asymp, SpatialPointsDataFrame)
S3method(sbss_asymp, sf)
S3method(sbss_boot, default)
S3method(sbss_boot, SpatialPointsDataFrame)
S3method(sbss_boot, sf)
S3method(print, sbss)
S3method(coef, sbss)
S3method(predict, sbss)
S3method(plot, sbss)
S3method(snss_sd, default)
S3method(snss_sd, list)
S3method(snss_sd, SpatialPointsDataFrame)
S3method(snss_sd, sf)
S3method(snss_jd, default)
S3method(snss_jd, list)
S3method(snss_jd, SpatialPointsDataFrame)
S3method(snss_jd, sf)
S3method(snss_sjd, default)
S3method(snss_sjd, list)
S3method(snss_sjd, SpatialPointsDataFrame)
S3method(snss_sjd, sf)

useDynLib(SpatialBSS, .registration=TRUE)
importFrom(Rcpp, evalCpp)



